@font-face {
    font-family: "Poppins";
    src: url('/assets/font/Poppins-Regular.ttf')format('truetype');
}

@font-face {
    font-family: "Poppins Medium";
    src: url('/assets/font/Poppins-Medium.ttf')format('truetype');
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url('/assets/font/Poppins-SemiBold.ttf')format('truetype');
}

@font-face {
    font-family: "Poppins Bold";
    src: url('/assets/font/Poppins-Bold.ttf')format('truetype');
}

@font-face {
    font-family: "Poppins Black";
    src: url('/assets/font/Poppins-Black.ttf')format('truetype');
}