@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }
}



@media screen and (max-width: 1400px) {
    .home__photo {
        width: 45rem;
        height: 45rem;
    }

    .home {
        height: 63rem;
    }
}

@media screen and (max-width: 1200px) {
    .home__photo {
        width: 38rem;
        height: 38rem;
    }

    .service {
        padding: 7rem 2rem;
    }

}

@media screen and (max-width: 992px) {
    .nav__logo {
        font-size: 5rem;
    }

    .menu {
        gap: 0;
    }

    .menu__item {
        margin-right: 2rem;
    }

    .home__photo {
        width: 36rem;
        height: 36rem;
        margin: 0 auto;
    }

    .home_content {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .home {
        margin-top: 3rem;
        text-align: center;
        background-image: none;
    }

    .home .row {
        flex-direction: column-reverse;
    }

    .home__link-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .about {
        flex-direction: column;
    }

    .resume-content {
        padding-top: 1rem;
        border-left: none;
        padding-left: 0;
    }

    .resume-list::before,
    .resume-list__item::before {
        content: none;
    }

    .resume-list__icon {
        display: none;
    }

    .resume-list {
        flex-direction: row;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        min-height: auto;

    }

    .resume-list__item {
        padding: 1.2rem 3rem;
        margin-bottom: 0;
        border-radius: 2rem;
        box-shadow: none;
        background-color: transparent;
        transition: all 0.2s ease-in;
    }
    .resume-list__item--active {
        background-color:var(--primary-color);
    }
    .resume-list__text {
        margin: 0;
        font-size: 1.6rem;
        font-family: 'Poppins';
        transition: none;
    }
    .contactus__map{
        display: none;
    }
    .contact{
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        right: 0;
        left: 0;
        align-items: center;
        /* padding: 2rem 0; */
        /* border: 1px solid var(--primary-color); */
        margin: 0 auto;
        background-color: var(--section-bg-color);
        transition: all 200ms ease-in;
        height: 0;
        overflow: hidden;
    }

    .menu--open {
        height: 30rem;
        overflow: visible;
    }

    .menu__item {
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .menu__item:first-child {
        margin-top: 2rem
    }

    .nav__toggle-icon {
        display: flex;
    }

    .about__content {
        padding: 2rem 2rem;
    }

    .service {
        padding: 4rem 1rem;
    }

}

@media screen and (max-width: 576px) {
    .home_content {
        text-align: center;
    }

    .home__title {
        font-size: 4rem;
    }

    .home__name {
        font-size: 2rem;
    }

    .home__name span {
        font-size: 2rem;
    }

    .home__caption {
        font-size: 1.5rem;
    }

    .app__btn {
        width: 100%;
    }

    .service {
        padding: 5rem 2rem;
    }

    .service__wave {
        display: none;
    }
    .footer__wrapper{
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media screen and (max-width: 476px) {
    .home__title {
        font-size: 3rem;
    }
    .contact{
        padding: 4.5rem 2rem;
    }
}